<!doctype html>
<html lang="en">

<head>
  <title>URL shortener</title>
  <meta charset="utf-8">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- no zoom, no scaling -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


  <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height"> -->
</head>

<body>
  <div class="container">
    <div class="jumbotron pt-3 pb-1">
      <h1>URL Shortener</h1>
      <p>NodeJS, Sequalize, Postgre demo</p>
    </div>
    <div>
      <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <%if (error) {%>
          <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
          </div>
          <% } %>
            <%if (success) {%>
              <div class="alert alert-success" role="alert">
                Short URL successfully generated for
                <b>
                  <%= urlSaved %>
                </b>.
                <br/>Visit&nbsp;
                <a href="<%= aliasSaved %>">
                  <%= aliasSaved %>
                </a>
              </div>
              <h4>Add another one</h4>
              <% } %>
                <div class="input-group mb-3 ">
                  <div class="input-group-prepend ">
                    <span class="input-group-text " id="url">
                      <i class="icon ion-ios-world-outline"></i>
                    </span>
                  </div>
                  <input name="url" type="text" value="<%= url %>" class="form-control <%if (errorUrl) { %>is-invalid<% } %>" placeholder="URL - include http:// or https://"
                    aria-label="URL" aria-describedby="url">
                  <div class="invalid-feedback">
                    Please enter valid URL
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="url">
                      <i class="icon ion-pound"></i>
                    </span>
                  </div>
                  <input name="alias" type="text" class="form-control <%if (errorAlias) {%>is-invalid<% } %>" value="<%= alias %>" placeholder="Custom alias&nbsp;(optional)&nbsp;-&nbsp;only&nbsp;letters,&nbsp;numbers&nbsp;and&nbsp;hyphens "
                    aria-label="Custom alias (optional) " aria-describedby="url ">
                  <div class="invalid-feedback ">
                    Please enter only letters, numbers and hyphens
                  </div>
                </div>
                <div class="d-flex justify-content-start ">
                  <button type="submit " class="btn btn-primary ">Give me short URL</button>
                </div>
      </form>
    </div>
  </div>
</body>

</html>